@model BiotLabWeb.Models.EntradaanestesicoViewModel

@{
    ViewData["Title"] = "Detalhes da Entrada de Anestésico";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Entrada de Anestésico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdEntrada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdEntrada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdAnestesico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdAnestesico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorUnitario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorUnitario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEntrada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEntrada)
        </dd>
    </dl>

    @Html.ActionLink("Editar", "Edit", new { idEntrada = Model.IdEntrada, idAnestesico = Model.IdAnestesico }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Excluir", "Delete", new { idEntrada = Model.IdEntrada, idAnestesico = Model.IdAnestesico }, new { @class = "btn btn-danger" })
</div>
