@model IEnumerable<BiotLabWeb.Models.EntradaanestesicoViewModel>

@{
    ViewData["Title"] = "Entradas de Anestésico";
}

<h2>@ViewData["Title"]</h2>

<p>
    @Html.ActionLink("Criar Nova Entrada", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().IdEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().IdAnestesico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Lote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ValorUnitario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.IdEntrada)</td>
                <td>@Html.DisplayFor(modelItem => item.IdAnestesico)</td>
                <td>@Html.DisplayFor(modelItem => item.Quantidade)</td>
                <td>@Html.DisplayFor(modelItem => item.Lote)</td>
                <td>@Html.DisplayFor(modelItem => item.ValorUnitario)</td>
                <td>
                    @Html.ActionLink("Detalhes", "Details", new { idEntrada = item.IdEntrada, idAnestesico = item.IdAnestesico }) |
                    @Html.ActionLink("Editar", "Edit", new { idEntrada = item.IdEntrada, idAnestesico = item.IdAnestesico }) |
                    @Html.ActionLink("Excluir", "Delete", new { idEntrada = item.IdEntrada, idAnestesico = item.IdAnestesico })
                </td>
            </tr>
        }
    </tbody>
</table>
