@model BiotLabWeb.Models.HaremViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar Harem</h1>

<h3>Tem certeza que deseja excluir este registro?</h3>

<div>
    <h4>HaremViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Id)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Id)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.NumeroMacho)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.NumeroMacho)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.NumeroFemea)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.NumeroFemea)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Status)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Status)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para Lista</a>
    </form>
</div>
