@model IEnumerable<BiotLabWeb.Models.HaremViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Harems</h1>

<p>
    <a asp-action="Create">Criar Novo Harem</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Id)</th>
            <th>@Html.DisplayNameFor(model => model.First().NumeroMacho)</th>
            <th>@Html.DisplayNameFor(model => model.First().NumeroFemea)</th>
            <th>@Html.DisplayNameFor(model => model.First().Status)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.NumeroMacho)</td>
                <td>@Html.DisplayFor(modelItem => item.NumeroFemea)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
