@model BiotLabWeb.Models.HaremViewModel

<h1>Excluir Harem</h1>

<h4>Tem certeza que deseja excluir este Harem?</h4>
<div>
    <h4>Harem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.Id</dd>
        <dt class="col-sm-2">Número Macho</dt>
        <dd class="col-sm-10">@Model.NumeroMacho</dd>
        <dt class="col-sm-2">Número Fêmea</dt>
        <dd class="col-sm-10">@Model.NumeroFemea</dd>
        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.Status</dd>
    </dl>
</div>

<form asp-action="Delete" asp-route-id="@Model.Id" method="post">
    <div class="form-group">
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
